<section data-background-video="videos/0001-0148.mp4" data-background-video-muted>
    <h2 class="video-title">여러분은 부적을 믿으시나요?</h2>
</section>

<section>
    <div class="image-list">
        <img src="images/TaoistCharm.jpg">
        <img src="images/braveheart.jpg">
        <img src="images/naruto.jpg">
        <img src="images/Heptameron_magic_circle_1565.jpg">
    </div>
    부적, 주술적 문양, 수인(手印), 마법진 등은 어떻게 동작하는 걸까요?
</section>

<section data-background-video="videos/0153-0307.mp4">
    <h2 class="video-title">미신과 과학을 엮어 이야기 하는 양고기의 양소리 입니다.</h2>
</section>
<section data-background-video="videos/0309-0524.mp4">
    <div class="r-stack">
        <h2 class="video-title fragment fade-out">8,90년대 홍콩 영화에서 영화속 부적들이 기억 나시나요.</h2>
        <h2 class="video-title fragment">부적으로 강시도 퇴치하고</h2>
    </div>
</section>
<section data-background-video="videos/0827-0979.mp4">
    <h2 class="video-title">귀신도 만질 수 있죠.</h2>
</section>