<section>
    <h2>부적과 뇌 그리고 AI</h2>
</section>
<section data-background-video="videos/sheepsound.mp4">
    <h2>미신과 과학을 엮어 이야기 하는 양고기의 양소리 입니다.</h2>
</section>
<section data-background-video="videos/fulu.mp4" data-background-video-muted>
    <h2>여러분 부적 믿으시나요?</h2>
</section>
<section data-background-video="videos/fulu_action2.mp4">
    <h2>부적은 어떤 문양으로 신비한 일을 일으키는 것으로,</h2>
</section>
<section data-background-video="videos/fulu_action3.mp4">
    <h2>여러 매체에서 사용되었습니다.</h2>
</section>
<section data-background-video="videos/talisman_body.mp4">
    <h2>부적과 같은 형태 뿐만 아니라 비슷한 다른 형태도 있습니다.</h2>
</section>
<section data-background-video="videos/face_painting.mp4">
    <h2>동양에서만 쓰이는 것도 아닙니다.</h2>
</section>
<section data-background-video="videos/magic_circle.mp4">
    <h2>과거에만 쓰였던 것도 아니고,</h2>
</section>
<section data-background-video="videos/kingpalm.mp4">
    <h2>현실에도 이것을 믿는 사람이 있습니다.</h2>
</section>
<section data-background-image="images/confused.jpg" data-background-position="top" data-background-transition="zoom">
    <h2>사실여부를 떠나서, 이 모든게 진짜라면 원리가 뭘까요?</h2>
</section>
<section data-background-image="images/flatmind.jpg" data-background-size="contain" data-background-transition="zoom">
    <h2>생각한다는 착각</h2>
    <p><span class="name">Nick Chater</span>의 이 책에서 생각이 무엇인지에 대해 알려줍니다.</p>
</section>
<section data-background-image="images/iceberg.jpg" data-background-position="bottom">
    <h2>우리는 무의식이 있다고 믿어 왔습니다.</h2>
    <p>우리가 보고, 느끼고, 판단하는 모든 것에는 커다란 무의식이 의식 아래 있다고 생각 해 왔습니다.</p>
</section>
<section data-background-image="images/nick_chater.jpg">
    <div class="r-stack">
        <p class="fragment fade-out"><span class="name">Nick Chater</span>는 무의식에 대한 이러한 믿음을 박살냅니다.</p>
        <img class="fragment" src="images/dduk.jpg">
    </div>
</section>
<section data-background-image="images/flatbrain.jpg" data-background-size="contain">
    <p>이 책은 우리의 마음의 무의식 같은 것은 허상이며</p>
    <p>우리 마음은 지극히 평면적이라고 주장합니다.</p>
</section>
<section data-background-image="images/8-mile-features.jpg">
    <p><span class="name">Nick Chater</span>는 인간의 뇌를 <b>즉흥시인</b>에 비유합니다.</p>
    <p>매 순간 받는 정보들의 조각을 잇고 통합해 <br>행동을 선택하는 엔진 이라는 겁니다.</p>
</section>
<section data-background-image="images/patternjobs.png">
    <p>인간은 패턴을 찾는대 정말 능합니다.</p>
    <p>병아리, 위폐 감별등에서 인간은 기계보다 뛰어난 능력을 보여줍니다.</p>
</section>
<section data-background-video="videos/galaxy_brain.mp4">
    <p>사람의 인지능력은, 어떻게 강력하게 발전하는 걸까요?</p>
</section>
<section data-background-image="images/ask_bicycle.jpg">
    <p>자전거를 처음보는 아이에게 엄마가 자전거 라는 것을 알려주면,</p>
    <p>아이는 바퀴 두개의 탈것이 자전거라는 식의 패턴을 찾아내게 됩니다.</p>
</section>
<section class="half-left" data-background-image="images/piaget.png">
    <p><span class="name">Piaget</span>는 아이의 사고가 <b>동화</b>와 <b>조절</b>을 통해 발전한다고 했습니다.</p>
</section>
<section data-background-image="images/ask_motorcycle.jpg">
    <p>아이가 오토바이를 보고 <b>자전거다!</b> 라고 말하면</p>
    <p>아이는 스스로 <b>동화</b>를 해낸 것입니다.</p>
    <p>엄마가 그것은 오토바이라고 정정 해주면, 아이는 <b>조절</b> 하게 됩니다.</p>
</section>
<section data-background-video="videos/juggling_cube.mp4">
    <p>인간은 이렇게 새로운 패턴을 배우고,</p>
    <p>배운것을 조절하면서 인지능력을 키워 갑니다.</p>
</section>
<section data-background-image="images/ai_guess.webp">
    <p>인간이 이렇다면 AI는 어떨까요?</p>
</section>
<section class="custombg">
    <div class="r-stack">
        <img src="images/logical_nervous.png" class="onpage slap">
        <p class="fragment">
            뇌 뉴런의 <b>all-or-none</b> 규칙으로 계산을 할 수 있다는 것이<br>
            1943년 논문에서 제시 되었습니다.
        </p>
    </div>
</section>
<section data-background-iframe="images/neurons_fire.svg" class="custombg">
    <div class="r-stack">
        <p class="fragment fade-in-then-out">all-or-none 규칙은 뉴런에 들어온 신호의 전달을 특정 강도 이상에만 하는 규칙입니다.</p>
        <p class="fragment fade-in-then-out iframe-ev-next"></p>
        <p class="fragment fade-in-then-out">충분한 신호가 들어오면 뉴런은 신호를 전달 합니다.</p>
        <p class="fragment fade-in-then-out iframe-ev-next"></p>
    </div>
</section>
<section class="custombg">
    <div class="r-stack">
        <img src="images/perceptron.svg" height="640px">
        <p class="fragment fade-in-then-out">1957년에는 Perceptron이란 개념이 실린 논문이 최초로 등장합니다.</p>
        <p class="fragment fade-in-then-out"><span class="name">Frank Rosenblatt</span>가 제안한 인공 신경망입니다.</p>
    </div>
</section>
<section>
    <img src="images/perceptron.svg" height="300"><br>
    두개를 놓고 보면 비슷하게 생겼죠? 하는일도 같습니다.<br>
    <img src="images/neuron.svg" height="300">
</section>
<section class="custombg">
    Perceptron으론 논리 로직을 모두 만들 수 있고,<br>
    <img src="images/gates.svg">
</section>
<section class="custombg">
    논리 로직으론 연산과 저장 모든걸 할 수 있습니다.<br>
    <img src="images/adder_and_flipflop.png">
</section>
<section>
    결국 딥러닝 회로는 여러겹의 Perceptron입니다.<br>
    <img src="images/DNN.png" height="620">
</section>
<section>
    <p>DNN과 뉴런들은 결국 비슷하게 연결되어 있습니다.</p>
    <img src="images/dnn_vs_nuerons.png">
</section>
<section>
    <div class="video_right">
        <video data-autoplay src="videos/learning.mp4"></video>
        <p>결국 인간의 뇌는 학습을 하여 배워 움직입니다.</p>
    </div>
</section>
<section>
    <p>기계도 마찬가지 입니다.</p>
    <video data-autoplay src="videos/cnn_reinforced.mp4"></video>
</section>

<section data-background-video="videos/bully_robot.mp4">
    <p>적대적 공격</p>
    <p>Adversarial attack</p>
</section>
<section data-background-video="videos/robot_object_detection.mp4">
    <p>AI가 사물을 어떻게 인식할까요?</p>
</section>  
<section>
    <img src="images/cnn.png" height="550">
    <p>CNN은 사물 인식에서 가장 많이 쓰이는 방식입니다.</p>
</section>
<section>
    <p><b>적대적 공격</b>은 AI의 인식을 방해 하는 기술 입니다.</p>
    <p>이 중에는 AI의 물체나 사물의 인식을 방해하는 분야가 있습니다.</p>
    <img src="images/adversarial_example1.png">
</section>
<section>
    <p>자율주행 시대에 사고를 방지하기 위한 연구입니다.</p>
    <img src="images/adversarial_attack_road_sign.png">
</section>
<section data-background-video="videos/robot_whisper.mp4" data-background-video-loop="true">
    <p>적대적 공격은 마치 마법처럼 로봇을 속입니다.</p>
</section>
<section data-background-video="videos/transform.mp4" class="custombg">
    <p class="fragment fade-in">
        AI에게는 둔갑 마법도 어렵지 않습니다.<br>
        안경만 쓰면 밀라요보비치로 변할 수 있습니다.
        <img src="images/millajovovich.png" height="300">
    </p>
</section>
<section>
    <p>사람을 순식간에 사라지게 하는것도 가능합니다.</p>
    <video data-autoplay src="videos/hide.mp4"></video>
</section>
<section data-background-video="videos/robot_and_human.mp4">
    <p>먼저 설명 드렸던 것처럼, AI과 사람을 본따 만든 것이라면,</p>
    <p>AI에 대한 적대적 공격은 사람에게도 통할 수 있지 않을까요?</p>
</section>
<section>
    <p>이제 이 영상이 좀 달라 보이시나요?</p>
    <video data-autoplay src="videos/kingpalm.mp4"></video>
</section>
<section>
    <p>감사합니다.</p>
</section>